* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 15px;
}

input,
select {
    width: 50%;
}

#map{
    width: 600px;
    height: 600px;
    border: 1px solid black;
}